
$corPrimaria: #fff;

$sombraPadrao: 0 2px 2px 0 rgba(0,0,0,0.12);

$backgroudColorTitulo: #E6E8EB; //rgb(249,249,252);

$active: #46a546;

$inactive:#e00300;

$draft:#f89406;

$scheduled:#049cdb;

$selecionado: #fff;

$iconeZise: 1.5em;

@mixin border-radius() {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
          border-radius: 2px;
}

@mixin border-top-radios() {
	 -webkit-border-radius: 2px 2px 0px 0px;
     -moz-border-radius: 2px 2px 0px 0px;
      -ms-border-radius: 2px 2px 0px 0px;
          border-radius: 2px 2px 0px 0px;
}

@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 


@mixin animate( $quem, $tempo, $tipo ) {
	-webkit-transition: $quem $tempo $tipo;
	-o-transition: $quem $tempo $tipo;
	transition: $quem $tempo $tipo;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif, serif;
	font-weight: 400; 
	font-style: normal;
}

body {

	// background-color: #4285F4;
	// background-color: #55ACEE;
	// background-color: #101C27;
	background-color: #1D2F3F;
	/*background-color: #55ACEE;*/
}

/*Container*/
.container{
	position: relative;
	margin: auto auto;
}
.content {
	width:80%;
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;

	&.fluido {
		width: 100%;
	}

}



.error {
	background-color: blue;
	color:#000;
}
/*Container*/

.icone {
	color: #fff;
	
	&.menu {
		display:inline-block;
		padding:12px 8px;
		@include border-box();
		float:left;
		// color:#000;
		&.atual {
			border-right:2px solid #fff;
		}
	}

	&.icone-x2 {
		font-size: $iconeZise*1;
	}
	
	&.icone-x3 {
		font-size: $iconeZise*2;
	}

	&.icone-x4 {
		font-size: $iconeZise*4;
	}

	&.icone-invert {
		color:#000;
	}
}

.card-popover {
	.icone {
		color: #000;
	}
}

.menu { 
	position: relative;
	
	&:hover {
		.iten-hover {
			transition: all .3s ease-in-out;
			margin-left: 35px;
		}
	}

	&.iten-hover {
		position: absolute;
		top:10px;
		transition: all .3s ease-in-out;
		margin-left: -200px;
		padding:5px 10px;
		background-color:rgba(0,0,0,.3);
		@include  border-radius();
		z-index: 999999999999999;
	}
}

@import "help";

@import "janela";

@import "card";

@import "campos";

@import "tabela";

@import "dialogo";

@import "select";

@import "progresso";

@import "grid";

@import "nav-bar";

@import "lista";
